<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pet Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <h1>Add Manufacturer</h1>

    <form action="#" th:action="@{/savemanufacturer}" th:object="${manufacturer}" method="post">

        <label for="name"></label>
        <input type="text" th:field="${manufacturer.name}"/>
    
        <label for="country">Countru</label>
        <input type="text" th:field="${manufacturer.country}"/>
        
        <label for="businessId">Business ID</label>
        <input type="text" id="businessId" th:field="${manufacturer.businessIdentityCode}" />

        <br>
    
        <input type="submit" value="Save" />
        <input type="reset" value="Reset" />

    </form>

    <a href="/manufacturers" class="btn">Back to Manufacturers</a>

</body>

</html>