<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pet Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <h1>Manufacturer list</h1>

    <table>

        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Business ID</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="manufacturer : ${manufacturers}">
                <td th:text="${manufacturer.name}"></td>
                <td th:text="${manufacturer.country}"></td>
                <td th:text="${manufacturer.businessIdentityCode}"></td>
                <td>
                    <a th:href="@{/admin/editmanufacturer/{id}(id=${manufacturer.manufacturerId})}">Edit</a>
                </td>
                <td>
                    <a th:href="@{/admin/deletemanufacturer/{id}(id=${manufacturer.manufacturerId})}">Delete</a>
                </td>
                <td><a th:href="@{/admin/productsbymanufacturer/{id}(id=${manufacturer.manufacturerId})}">Products</a></td>
            </tr>
        </tbody>

    </table>

    <div th:if="${deleteError != null}" class="error" th:text="${deleteError}"></div>

    <div><a th:href="@{/admin/addmanufacturer}">Add manufacturer</a></div>

    <a href="/admin/home">Home Page</a>

</body>

</html>