<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pet Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Manufacturer list</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="manufacturer : ${manufacturers}">
                <td th:text="${manufacturer.name}"></td>
            </tr>
        </tbody>
    </table>
    <div><a th:href="@{/addmanufacturer}">Add manufacturer</a></div>
    <div><a th:href="@{/products}">Back</a></div>
</body>

</html>