<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pet Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Products</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Manufacturer</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.type}"></td>
                <td th:text="${product.color}"></td>
                <td th:text="${product.size}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.manufacturer.name}"></td>

                <td><a th:href="@{/deleteproduct/{id}(id=${product.productId})}" class="btn">Delete</a></td>
                <td><a th:href="@{/editproduct/{id}(id=${product.productId})}" class="btn">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <div><a th:href="@{/addproduct}">Add product</a></div>

    <!-- <div><a th:href="@{/addmanufacturer}">Add a manufacturer</a></div>
    <div><a th:href="@{/manufacturers}">Manufacturer list</a></div> -->
</body>

</html>