<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Pet Shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <h1>Reservations</h1>
  <div th:each="reservation : ${reservations}">
    <br />
    <br />
    <strong>Reservation ID: </strong>
    <td th:text="${reservation.reservationId}"></td><br>
    <strong>Customer:</strong>
    <td th:text="${reservation.customer.username}"></td><br>
    <strong>Reservation created:</strong>
    <td th:text="${reservation.created}"></td><br>
    <strong>Reservation delivered:</strong>
    <td th:text="${reservation.delivered}"></td><br>
    <strong>Reservation cancelled:</strong>
    <td th:text="${reservation.cancelled}"></td><br>

    <div th:if="${reservation.delivered == null && reservation.cancelled == null}"><a
        th:href="@{/admin/reservationdelivered/{id}(id=${reservation.reservationId})}">Mark reservation as delivered</a>
    </div>
    <div th:if="${reservation.delivered != null && reservation.cancelled == null}"><a
        th:href="@{/admin/reservationundelivered/{id}(id=${reservation.reservationId})}">Mark reservation as
        undelivered</a></div>
    <div th:if="${reservation.cancelled == null && reservation.delivered == null}"><a
        th:href="@{/admin/reservationcancelled/{id}(id=${reservation.reservationId})}">Cancel reservation</a></div>
    <div th:if="${reservation.cancelled != null && reservation.delivered == null}"><a
        th:href="@{/admin/reservationuncancelled/{id}(id=${reservation.reservationId})}">Uncancel reservation</a></div>

    <div><strong>Products:</strong></div>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
          <th>Count</th>
          <th>In Stock</th>
          <th>Manufacturer</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="reservationproduct : ${reservation.reservationProducts}">
          <td th:text="${reservationproduct.product.name}"></td>
          <td th:text="${reservationproduct.product.productType.productTypeValue}"></td>
          <td th:text="${reservationproduct.product.color}"></td>
          <td th:text="${reservationproduct.product.size}"></td>
          <td th:text="${reservationproduct.product.price}"></td>
          <td th:text="${reservationproduct.count}"></td>
          <td th:text="${reservationproduct.product.inStock}"></td>
          <td th:text="${reservationproduct.product.manufacturer.name}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <a href="/admin/home">Home Page</a>
</body>

</html>